
//banner
.font-size-displayHeading{
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
    @include medium{
       font-size: 64px;
       font-weight: 900;
    }
}

// .font-size-h1{
//     font-size: 40px;
//     line-height: 1.2;
//     @include medium{
//         font-size: 40px;

//     }
// }

//section title
.font-size-h2{
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
    @include medium{
        font-size: 32px;
    }
}
//section second title span
.font-size-h3{
    font-size:24px;
    line-height: 1.2;
    font-weight: 700;
    @include medium{
        font-size: 28px;
    }
}
//banner title span
.font-size-h3-span{
    font-size:20px;
    font-weight: 500;
    line-height: 1.2;
   
    @include medium{
        font-size: 28px;
        font-weight: 700;
    }
}
//section second title
.font-size-h4{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    
    @include medium{
        font-size: 24px;
        font-weight: 700;
    }
}

//card title 、 card price 、 flower card title
.font-size-h5{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    @include medium{
        font-size: 24px;
    }
}
//button 、 header link、footer title 、footer link
.font-size-h6{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    @include medium{
        font-size: 16px;
    }
}

// .font-size-h7{
//     font-size: 14px;
//     line-height: 1.2;
//     @include medium{
//         font-size: 14px;
//     }
// }

// .font-size-f1{
//     font-size: 40px;
//     line-height: 1.5;
//     @include medium{
//         font-size: 20px;
//     }
// }


// .font-size-f2{
//     font-size: 20px;
   
//     line-height: 1.5;
//     @include medium{
//     font-size: 32px;
//     }
// }
//banner text
.font-size-f3{
    font-size: 24px;
    line-height: 1.5;
    @include medium{
        font-size: 28px;
    }
}

//about-banner second title
.font-size-f4{
    font-size: 20px;
    line-height: 1.5;
    @include medium{
        font-size: 24px;  
    }
}

// .font-size-f5{
//     font-size: 20px;
//     line-height: 1.5;
//     @include medium{
//         font-size: 20px;
//     }
// }
//section text 、 card text
.font-size-f6{
    font-size: 14px;
    line-height: 1.5;
    @include medium{
        font-size: 16px;
    }
}
//footer text
.font-size-f7{
    font-size: 14px;
    line-height: 1.5;
}