<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mb-9">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="shoppingCart.html" aria-current="page">購物車</a></li>
    <li class="breadcrumb-item" active><a href="applicationInformation.html">填寫訂購資訊</a></li>
    <li class="breadcrumb-item"><a href="confirmInformation.html">確認訂購資訊</a></li>
    <li class="breadcrumb-item"><a href="successful.html">訂購成功</a></li>
    </ol>
  </nav>