<button class="favorite rounded-circle border-0 text-white d-flex justify-content-center align-items-center" data-bs-toggle="button" aria-pressed="true">
    <i class="bi bi-heart false" data-bs-toggle="modal" data-bs-target="#addFavorite"></i>
    <i class="bi bi-heart-fill true" data-bs-toggle="modal" data-bs-target="#deleteFavorite"></i>
  </button>