<div class="footer bg-primary" style="padding-top: 65px;">
    <div class="container">
        <div class="footerMainBox mb-5 d-flex justify-content-between align-items-center flex-column flex-md-row">
            <div class="footerQishiInfo d-flex ">
                <div class="footerBrand me-4" style="width: 120px;height: 120px;">
                    <img src="/assets/images/其時貼紙_50x50mm_C050MM-01.jpg" alt="LOGO">
                </div>
                <div class="footerInfo text-start text-white">
                    <h6 class="mb-3 fw-medium mb-2">其時手工甜點</h6>
                    <a href="tel:03-7653421" class=" mb-2 fs-7 text-white fw-normal d-flex align-items-center gap-2"><span class="material-symbols-outlined">call</span>03-7653421</a>
                    <p class="mb-2 fs-7 fw-normal d-flex align-items-center gap-2"><span class="material-symbols-outlined">schedule</span>週一至週六 9:00-19:00</p>
                    <p class="mb-2 fs-7 fw-normal d-flex align-items-center gap-2"><span class="material-symbols-outlined">location_on</span>桃園市龜山區兔子洞88號</p>
                </div>
            </div>
            <div class="footerWebMapandLink d-flex gap-md-5 gap-2 flex-column flex-lg-row">
                <ul class="d-flex align-items-center gap-1">
                    <li class="py-3 px-2"><a href="membershipTerms.html">會員條款</a></li>
                    <li class="py-3 px-2"><a href="FAQ.html">常見問題</a></li>
                    <li class="py-3 px-2"><a href="contactUs.html">聯繫我們</a></li>
                </ul>
                <ul class="d-flex align-items-center gap-1 justify-content-lg-end justify-content-center">
                    <li class="p-2"><a href="https://www.instagram.com/qi.shi_dessert/"><img src="/assets/images/instagram.png" alt="instagram"></a></li>
                    <li class="p-2"><a href="https://www.facebook.com/qishi.dessert"><img src="/assets/images/facebook.png" alt="facebook"></a></li>
                    <li class="p-2"><a href="mailto:qishi.dessert@gmail.com"><img src="/assets/images/mail.png" alt="mail"></a></li>
                </ul>
            </div>
        </div>
        <p class="pt-3 fs-7 pb-4 annotation text-center border-top">本站僅供個人作品使用</p>
    </div>
</div>