<div class="footer bg-primary" style="padding-top: 65px;">
    <div class="container">
        <div class="footerMainBox mb-5">
            
        </div>
        <p class="pt-3 fs-7 pb-4 annotation text-center border-top">本站僅供個人作品使用</p>
    </div>
</div>