<div class="header" id="header">
<div class="container">
    <nav class="navbar navbar-expand-lg py-4">
        <div class="container-fluid flex-column flex-lg-row">
          <a class="navbar-brand p-0 m-0 pb-2 pb-lg-0" href="index.html">
            <img src="/assets/images/其時貼紙_50x50mm_C050MM-01.jpg" alt="其時手工甜點" class="rounded-circle brand-img">
          </a>
          <div class="d-flex justify-content-lg-between navbar-gap">
            <ul class="navbar-nav ms-auto m-2 mb-lg-0 flex-row">
              <li class="nav-item">
                <a class="nav-link font-size-h6 text-white py-2 px-3 hoverUp" href="about.html">關於我們</a>
              </li>
              <li class="nav-item">
                <a class="nav-link font-size-h6 text-white py-2 px-3 hoverUp" href="product.html">產品列表</a>
              </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0 gap-2 flex-row ms-lg-auto">
                <li class="nav-item">
                  <a  class="nav-link font-weight-medium text-white p-0 hoverUp position-relative d-flex justify-content-center align-items-center" href="shoppingCart.html" id="toCart" style="width: 44px;height: 44px;">
                    <span class="material-symbols-outlined">
                    shopping_cart
                    </span>
                    
                    <span class="position-absolute translate-middle badge rounded-pill bg-warning" id="cartBadge" style="top:7px;left:32px;">
                      0
                      <span class="visually-hidden">cart items</span>
                    </span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link font-weight-medium text-white p-0 hoverUp d-flex justify-content-center align-items-center" href="member.html" style="width: 44px;height: 44px;">
                    <span class="material-symbols-outlined">
                    person
                    </span></a>
                </li>
              </ul>
          </div>
        </div>
      </nav>
</div>
    
</div>
