<!--收藏 modal -->
<div class="modal fade" id="addFavorite" tabindex="-1" aria-labelledby="addFavorite" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addFavorite">加入收藏</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          收藏成功
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">繼續瀏覽</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="deleteFavorite" tabindex="-1" aria-labelledby="deleteFavorite" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteFavorite">移除收藏</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          此商品已在您的收藏清單，是否移除？
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="toggleRemove">取消</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">我要移除</button>
        </div>
      </div>
    </div>
  </div>
  <!-- cart modal -->
  <div class="modal fade" id="addCartSuccess" tabindex="-1" aria-labelledby="addCartSuccess" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addCartSuccess">加入購物車</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          加入成功
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">返回</button>
          <a class="btn btn-primary" href="shoppingCart.html">前往購物車</a>
        </div>
      </div>
    </div>
  </div>