<div class="card bg-transparent border-0 h-100 productCard hoverUp">
    <div class="card-img-container  rounded-top-circle overflow-hidden border-neutral04 border border-bottom-0 border-2">
      <img src="/assets/images/花禮.jpg" class="card-img-top" alt="Mini Cookies 花禮">
    </div>
    <div class="card-body bg-white rounded-bottom position-relative border-neutral04 border border-top-0 border-2">
      <button class="btn btn-primary addShoppingCart align-items-center justify-content-center hoverUp font-size-h6" data-bs-toggle="modal" data-bs-target="#addCartSuccess">
        <span class="material-symbols-outlined me-1">add_shopping_cart</span>
        加入購物車
      </button>
      <div class="d-flex flex-column justify-content-between mb-6 px-5 h-100">
        <div>
          <a href="cocoaIntro.html" class="stretched-link text-dark"><h4 class="font-size-h5 mb-2">Mini Cookies 花禮</h4></a>
         <p class="font-size-f6 ">一個組合勝過千言萬語</p>
        </div>
        <div class="d-flex align-items-center justify-content-between">
         <h4 class="text-primary font-size-h5">NT$ 520</h4>
         <%- include('./layout/favoriteButton')-%>
        </div>
    </div>
  </div>
</div>