<div class="card bg-transparent border-0 h-100 productCard hoverUp">
    <div class="card-img-container  rounded-top-circle overflow-hidden border-neutral04 border border-bottom-0 border-2">
      <img src="/assets/images/可可.jpg" class="card-img-top" alt="香濃可可">
    </div>
    <div class="card-body bg-white rounded-bottom position-relative border-neutral04 border border-top-0 border-2">
      <button class="btn btn-primary addShoppingCart align-items-center justify-content-center hoverUp font-size-h6" data-bs-toggle="modal" data-bs-target="#addCartSuccess">
        <span class="material-symbols-outlined me-1">add_shopping_cart</span>
        加入購物車
      </button>
      <div class="d-flex flex-column justify-content-between mb-6 px-5 h-100">
        <div>
          <a href="cocoaIntro.html" class="stretched-link text-dark"><h4 class="font-size-h5 mb-2">香濃可可軟餅乾</h4></a>
         <p class="font-size-f6 cocoText">使用法國進口法芙娜<span class="pcOpen">可可粉製作而成，有濃濃的可可香氣。</span><span class="mbOpen">...</span></p>
        </div>
        <div class="d-flex align-items-center justify-content-between">
         <h4 class="text-primary font-size-h5">NT$ 45</h4>
         <button class="favorite rounded-circle border-0 text-white d-flex justify-content-center align-items-center active" data-bs-toggle="button" aria-pressed="true" id="targetRemove">
          <i class="bi bi-heart false" data-bs-toggle="modal" data-bs-target="#addFavorite1"></i>
          <i class="bi bi-heart-fill true" data-bs-toggle="modal" data-bs-target="#deleteFavorite1"></i>
        </button>
        </div>
    </div>
  </div>
</div>

<!--modal -->
<div class="modal fade" id="addFavorite1" tabindex="-1" aria-labelledby="addFavorite1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addFavorite1">加入收藏</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        收藏成功
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">繼續瀏覽</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteFavorite1" tabindex="-1" aria-labelledby="deleteFavorite1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteFavorite1">移除收藏</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        此商品已在您的收藏清單，是否移除？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="toggleRemove">取消</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">我要移除</button>
      </div>
    </div>
  </div>
</div>
<!-- cart modal -->
<div class="modal fade" id="addCartSuccess" tabindex="-1" aria-labelledby="addCartSuccess" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addCartSuccess">加入購物車</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        加入成功
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">返回</button>
        <a class="btn btn-primary" href="shoppingCart.html">前往購物車</a>
      </div>
    </div>
  </div>
</div>