.header{
  z-index: 10;
  background-image:url(/assets/images/Header/BG3.png);
  background-size: cover;
  background-repeat: repeat-x;
  background-position: center bottom;
  position: fixed;
  width: 100%;
  top:0;
}