<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>其時手工甜點-產品列表</title>
    <link rel="icon" href="/assets/images/logo.jpg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>
  <body>
    <%- include("./layout/header") -%>

    <div class="container mb-10 pt-lg-13 pt-14" >
      <div class="row position-relative">
        <div class="col-md-6">
          <img src="/assets/images/可可.jpg" alt="香濃可可軟餅乾" class="rounded-5 mb-lg-0 mb-7">
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between">
          <h2 class="font-size-h2 mb-lg-0 mb-6">香濃可可軟餅乾</h2>
          <div class="mb-4 mb-lg-0">
            <h6 class="mb-2 font-size-h6">商品敘述</h6>
            <p class="font-size-f6">使用法國進口法芙娜可可粉製作而成，有濃濃的可可香氣。</p>
          </div>
          <div class="mb-4 mb-lg-0">
            <h6 class="mb-2 font-size-h6">內容成分</h6>
            <p class="font-size-f6">麵粉、泡打粉、砂糖、黑糖、可可豆、奶油、雞蛋、可可粉</p>
          </div>
          <div class="mb-4 mb-lg-0">
            <h6 class="mb-2 font-size-h6">注意事項</h6>
            <ul style="list-style:disc;">
              <li class="font-size-f6">本產品蛋奶素可食</li>
              <li  class="font-size-f6">本產品皆為獨立包裝，常溫下可放置兩週，也可冷凍保存，食用前以烤箱或氣炸鍋180度烘烤3分鐘，香氣會更濃郁</li>
              <li  class="font-size-f6">下單後七個工作天內出貨</li>
            </ul>
          </div>
          <div >
            <h4 class="text-primary mb-lg-0 mb-4 font-size-h5">NT $45</h4>
          </div>
          

          <div class="d-flex justify-content-end align-items-center gap-3">
            <select class="form-select w-25 me-auto" aria-label="Default select example" id="buyNumber" >
              <option selected value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <button class="btn btn-primary align-items-center justify-content-center hoverUp addShoppingCart2 font-size-h6" data-bs-toggle="modal" data-bs-target="#addCartSuccess">
              加入購物車
            </button>
            <a href="shoppingCart.html" class="btn btn-primary hoverUp">直接購買</a>
            <button class="favorite rounded-circle border-0 text-white d-flex justify-content-center align-items-center active position-absolute top-0 end-0" data-bs-toggle="button" aria-pressed="true">
              <i class="bi bi-heart false" data-bs-toggle="modal" data-bs-target="#addFavorite"></i>
              <i class="bi bi-heart-fill true" data-bs-toggle="modal" data-bs-target="#deleteFavorite"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-aroma text-white py-md-10 py-7" id="navbar-brand-fade">
      <div class="container py-10 position-relative">
        <div class="mb-6 mb-lg-8">
          <h2 class="text-center font-size-h2 mb-4">香氣配方</h2>
          <p class="text-center font-size-f6">為你創造溫暖的談天氣氛</p>
        </div>

        <div class="row justify-content-center mb-7 mb-md-0">
          <div class="col-lg-4 col-md-6 mb-6 mb-md-0">
            <img src="/assets/images/blackSuger.jpg" alt="黑糖粉" class="rounded-5">
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-center">
            <div>
              <h3 class="mb-4 font-size-h3">沖繩多良間產純黑糖</h3>
              <p class="font-size-f6">使用日本沖繩多良間島產的甘蔗製成，富有沖繩黑糖獨特香濃的味道，純甘蔗汁製成，質純味香</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center flex-row-reverse mb-7 mb-md-0">
          <div class="col-lg-4 col-md-6 mb-6 mb-md-0">
            <img src="/assets/images/aromaBackground.jpg" alt="可可粉" class="rounded-5">
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-center">
            <div>
              <h3 class="mb-4 font-size-h3">法國法芙娜無糖可可粉</h3>
              <p class="font-size-f6">法式傳統工藝和廚房藝術製作出的美味巧克力，被業界譽為巧克力的愛馬仕</p>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="container py-md-10 py-7 d-md-block d-none">

  <div class="mb-8">
    <h2 class="text-center font-size-h2 mb-4">我們的堅持</h2>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-7">
      <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner rounded-5">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="/assets/images/reduce.jpg" class="d-block w-100" alt="我們採用減糖減油的政策">
            <div class="carousel-caption d-none d-md-block" style="z-index: 8;">
              <h5 class="mb-3 ">無負擔的享用</h5>
              <p class="mb-3">無須擔心熱量問題，我們一直堅持減糖、減油原則，<br>
                使用了最少的糖和最少的奶油，並專注於創造香氣、口味及口感。</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="/assets/images/handMake.jpg" class="d-block w-100" alt="純手工打造">
            <div class="carousel-caption d-none d-md-block" style="z-index: 8;">
              <h5 class="mb-3">純手工製成</h5>
              <p class="mb-3">每一塊餅乾都是懷抱著希望能為你創造完美回憶的心情，<br>
              以純手工打造，為的是成就您的完美聚會。</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="/assets/images/bestSource.jpg" class="d-block w-100" alt="最好的材料">
            <div class="carousel-caption d-none d-md-block" style="z-index: 8;">
              <h5 class="mb-3">嚴選食材</h5>
              <p class="mb-3">我們嚴格挑選最佳的原料來源，<br>
              為您帶來最佳口味的同時，也為您的健康把關。</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  
</div>
    
    
    <div class="bg-halfBrand04">
      <div class="container py-lg-11 py-7">
          <div class="mb-4 mb-lg-6">
            <h2 class="text-center font-size-h2">還有更多選擇</h2>
          </div>
          <div class="row cardBox justify-content-center">
            <div class="col-lg-3 col-6">
              <%- include('./layout/productCocoaM')-%>
            </div>
            <div class="col-lg-3 col-6">
              <%- include('./layout/productOriginalM')-%>
            </div>
            <div class="col-lg-3 col-6">
              <%- include('./layout/productMinimix')-%>
            </div>
            <div class="col-lg-3 col-6">
              <%- include('./layout/productMixFive')-%>
            </div>

          </div>
      </div>
    </div>
    <div class="productBanner py-md-14 py-12">
      <div class="container productBanner-content">
        <div class="d-flex align-items-center flex-column">
            <h1 class="fw-black mb-lg-6 mb-5 text-white">想要使用在活動上？</h1>
            <button class="btn d-flex justify-content-center align-items-center hoverUp productBanner-btn fw-bold p-3">活動甜點預定<span class="material-symbols-outlined">arrow_forward</span></button>
        </div>
        
      </div>
    </div>

    <!--收藏 modal -->
    <%- include('./layout/modal')-%>

    <%- include("./layout/footer") -%>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.js"></script> -->
  </body>
</html>
