<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>其時手工甜點</title>
    <link rel="icon" href="/assets/images/logo.jpg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>
  <body>
    <%- include("./layout/header") -%>
    <div class="banner">
      <div class="container text-lg-end text-center">
        <h1 class="text-primary mb-lg-4 mb-3 font-size-displayHeading">對的甜點<span class="h1SpanBg"><span class="text-white text-center h1Span font-size-h3-span">成就</span></span>對的時間</h1>
        <h3 class="font-size-f3">珍貴時刻的最佳選擇</h3>
      </div>
    </div>
    <div class="container">
      <div class="mt-md-11 mb-md-11 mt-7 mb-7">
        <h2 class="text-center font-size-h2 mb-2">將共度的時光</h2>
        <h2 class="text-center font-size-h2 mb-md-8 mb-6">化為永恆的記憶</h2>
        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-4 col-8 justify-content-center align-items-center text-center mb-7 mb-lg-0 ">
            <img src="/assets/images/memory1.jpg" alt="aroma" class="rounded-circle mb-md-6 mb-3 img-fluid">
            <h4 class="mb-2 font-size-h4">關於<span class="text-warning font-size-h3 memorySpan px-3">香氣</span>的記憶</h4>
            <p class="font-size-f6">進門時甜點散發的溫暖</p>
          </div>
          <div class="col-lg-3 col-md-4 col-8 justify-content-center align-items-center text-center mb-7 mb-lg-0">
            <img src="/assets/images/memory2.jpg" alt="taste good" class="rounded-circle mb-md-6 mb-3 img-fluid">
            <h4 class="mb-2 font-size-h4">關於<span class="text-warning font-size-h3 memorySpan px-3">味蕾</span>的記憶</h4>
            <p class="font-size-f6">品嚐每一口的香甜</p>
          </div>
          <div class="col-lg-3 col-md-4 col-8 justify-content-center align-items-center text-center mb-7 mb-lg-0">
            <img src="/assets/images/memory3.jpg" alt="aroma" class="rounded-circle mb-md-6 mb-3 img-fluid">
            <h4 class="mb-2 font-size-h4">關於<span class="text-warning font-size-h3 memorySpan px-3">口感</span>的記憶</h4>
            <p class="font-size-f6">體驗每一口帶來的驚喜</p>
          </div>
        </div>
      </div>
    </div>
    <!-- participate -->
    <div class="container py-7 py-lg-10 overflow-hidden">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-5 " data-aos="fade-right">
          <img src="/assets/images/participate.jpg" alt="餅乾製程" class="rounded-5 mb-6 mb-lg-0">
        </div>
        <div class="col-lg-7" data-aos="fade-left" data-aos-delay="300">
          <div class="mb-8 d-flex justify-content-between align-items-lg-center flex-column flex-lg-row align-items-start">
            <div class="mb-6 mb-lg-0">
              <h2 class="text-start font-size-h2 mb-2">無論大事小事</h2>
              <h2 class="text-start font-size-h2">讓其時參與你的每一件事</h2>
            </div>
            <button class="btn btn-primary d-flex justify-content-center align-items-center hoverUp font-size-h6">活動甜點預定<span class="material-symbols-outlined">arrow_forward</span></button>
          </div>
          <div class="row">
            <div class="col-4">
              <img src="/assets/images/birthday.jpg" alt="birthday" class="rounded-circle">
            </div>
            <div class="col-4">
              <img src="/assets/images/graduation.jpg" alt="graduation" class="rounded-circle">
            </div>
            <div class="col-4">
              <img src="/assets/images/wedding.jpg" alt="wedding" class="rounded-circle">
            </div>            
          </div>
        </div>
      </div>
    </div>

    <div class="bg-halfBrand04">
      <div class="container py-lg-11 py-7">
          <div class="mb-6 mb-lg-8">
            <h2 class="text-center fw-black">挑一塊屬於你的夏日時光</h2>
          </div>
          <div class="row cardBox">
            <div class="col-lg-3 col-6">
              <%- include('./layout/productOriginal')-%>
            </div>
            <div class="col-lg-3 col-6">
              <%- include('./layout/productCocoa')-%>
            </div>
            <div class="col-lg-3 col-6">
              <%- include('./layout/productTea')-%>
            </div>
            <div class="col-lg-3 col-6 ">
              <%- include('./layout/productMinimix')-%>
            </div>

            <!--收藏 modal -->
            <%- include('./layout/modal')-%>
          </div>
      </div>
    </div>

    <div class="graduationSpecial" id="headerFade">
      <div class="container position-relative pt-md-10 pt-7 pb-md-12 pb-10 overflow-hidden">
        <div class="row">
          <div class="col-lg-10">
            <div class="graduationSpecial-img rounded-5 position-relative">
              <div class="position-absolute graduationSpecial-title">
              </div>
              <!-- <h2 class="text-lg-start text-center fw-black graduationSpecial-title">為畢業生送上最誠摯的祝福</h2> -->
            </div>
          </div>
          <div class="col-lg-3 graduationSpecial-card" >
            <div class="card hoverUp" style="border-radius: 24px;">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-lg-12 col-5">
                    <img src="/assets/images/花禮.jpg"  alt="花禮" style="border-radius: 16px;" class="mb-4 img-fluid">
                  </div>
                  <div class="col-lg-12 col-7 text-lg-center text-start">
                    <h5 class="card-title mb-3 font-size-h5">Mini Cookies花禮熱賣中</h5>
                    <a href="#" class="btn btn-primary justify-content-center align-items-center hoverUp font-size-h6" style="display: inline-flex;padding: 12px 24px;">商品介紹 <span class="material-symbols-outlined">
                      arrow_forward
                      </span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          
        </div>
      </div>
    </div>
    

    <%- include("./layout/footer") -%>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.js"></script> -->
  </body>
</html>
