<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>其時手工甜點</title>
    <link rel="icon" href="/assets/images/logo.jpg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>
  <body>
    <%- include("./layout/header") -%>
    <div class="faqBanner">
      <div class="container text-center">
            <h1 class="fw-black  mb-lg-6 mb-5 text-white" style="z-index: 8;position: relative;">會員條款</h1>
      </div>
    </div>

    <div class="container mb-10">
      <div class="my-4 my-lg-10">
        <h2 class="text-center fw-black">會員條款</h2>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-8">
          <p>歡迎您加入其時手工甜點會員！為確保您能享有最佳的購物體驗，並了解我們為您提供的服務，請您仔細閱讀以下會員條款。</p>
          <h6 class="my-6">一、會員資格</h6>
          <ol style="list-style:decimal;">
            <li>凡年滿18歲並具備完全行為能力者均可申請成為本網站會員。</li>
            <li>申請時需提供真實、完整且有效的個人資料，並負責資料的更新。若因會員提供不實資料而導致本網站無法聯繫或提供服務，本網站不承擔任何責任。</li>
            <li>會員帳號僅限本人使用，不得轉讓或借予他人使用。會員需妥善保管帳號密碼，若因帳號外借、被盜用等情況導致的損失，本網站概不負責。</li>
          </ol>
          <h6 class="my-6">二、會員權益</h6>
          <ol style="list-style:decimal;">
            <li>成為會員後，您將享有專屬優惠、活動通知、及訂單查詢等功能。</li>
            <li>會員可透過網站平台查詢購物紀錄、訂單狀態，並能根據需求管理個人資料。</li>
          </ol>
          <h6 class="my-6">三、會員資料隱私</h6>
          <ol style="list-style:decimal;">
            <li>我們重視您的隱私，您的個人資料將依據《個人資料保護法》妥善保護，僅用於提供服務及增進購物體驗。</li>
            <li>本網站絕不會在未經會員同意的情況下，將個人資料出售或提供給第三方，但在法律要求或必要情況下（例如防止詐騙）將依法配合提供。</li>
          </ol>
          <h6 class="my-6">四、會員義務</h6>
          <ol style="list-style:decimal;">
            <li>會員同意遵守本網站所公告之所有條款及政策，包括但不限於購物流程、訂單取消政策及退換貨相關規範。</li>
            <li>會員不得以任何方式損害本網站或其他會員的權益，若發現會員有任何違法、欺詐行為，將有權終止會員資格並保留法律追訴權。</li>
          </ol>
          <h6 class="my-6">五、服務變更與終止</h6>
          <ol style="list-style:decimal;">
            <li>本網站保留隨時修改、調整或終止會員制度的權利，並於網站公告相關變更，會員應定期查閱網站公告。</li>
            <li>若會員希望終止會員資格，您可隨時聯繫客服申請取消帳號。</li>
          </ol>
          <h6 class="my-6">六、其他</h6>
          <ol style="list-style:decimal;">
            <li>本會員條款依中華民國法律訂立，若發生爭議，雙方同意以桃園市地方法院為第一審管轄法院。
            </li>
          </ol>
        </div>
      </div>
    </div>
    <%- include("./layout/footer") -%>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.js"></script> -->
  </body>
</html>
