<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>其時手工甜點-產品列表</title>
    <link rel="icon" href="/assets/images/logo.jpg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> -->
  </head>
  <body>
    <%- include("./layout/header") -%>

    <div class="bg-brand04">
      <div class="container">
        <ul class="nav nav-underline justify-content-center pb-5 " style="padding-top: 122px;">
          <li class="nav-item hoverUp">
            <a class="nav-link fw-semibold" href="#cocoa">香濃可可</a>
          </li>
          <li class="nav-item hoverUp">
            <a class="nav-link fw-semibold" href="#original">經典原味</a>
          </li>
          <li class="nav-item hoverUp">
            <a class="nav-link fw-semibold" href="#marshmallows">棉花糖軟餅乾</a>
          </li>
          <li class="nav-item hoverUp">
            <a class="nav-link fw-semibold" href="#miniCookies">Mini Cookies 軟餅乾</a>
          </li>
          <li class="nav-item hoverUp">
            <a class="nav-link fw-semibold" href="#pack">餅乾組合</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="productBanner">
      <div class="container productBanner-content">
        <div class="d-flex align-items-center flex-column">
            <h1 class="fw-black lh-petit mb-lg-6 mb-5 text-white">正在為你的派對煩惱？</h1>
            <button class="btn d-flex justify-content-center align-items-center hoverUp productBanner-btn fw-bold p-3">活動甜點預定<span class="material-symbols-outlined">arrow_forward</span></button>
        </div>
        
      </div>
    </div>
    <div class="cocoa" id="cocoa">
      <div class="container py-lg-8 py-5">
          <div class="mb-4 mb-lg-6">
            <h2 class="text-center fw-black">香濃可可</h2>
          </div>
          <div class="row cardBox justify-content-center">
            <div class="col-lg-3 col-md-4 col-8">
              <div class="card bg-transparent border-0 h-100 productCard hoverUp">
                <div class="card-img-container  rounded-top-circle overflow-hidden border-neutral04 border border-bottom-0 border-2">
                  <img src="/assets/images/可可.jpg" class="card-img-top" alt="香濃可可">
                </div>
                <div class="card-body bg-white rounded-bottom position-relative border-neutral04 border border-top-0 border-2">
                  <button class="btn btn-primary addShoppingCart align-items-center justify-content-center hoverUp" data-bs-toggle="modal" data-bs-target="#addCartSuccess">
                    <span class="material-symbols-outlined me-1">add_shopping_cart</span>
                    加入購物車
                  </button>
                  <div class="d-flex flex-column justify-content-between mb-4 px-4 h-100">
                    <div>
                      <a href="cocoaIntro.html" class="stretched-link text-dark"><h4 class="fw-bold mb-2">香濃可可軟餅乾</h4></a>
                      <p class="fs-6 cocoText">使用法國進口法芙娜<span class="pcOpen">可可粉製作而成，有濃濃的可可香氣。</span><span class="mbOpen">...</span></p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                     <h4 class="text-primary fw-bold">NT$ 45</h4>
                     <button class="favorite rounded-circle border-0 text-white d-flex justify-content-center align-items-center active" data-bs-toggle="button" aria-pressed="true">
                      <i class="bi bi-heart false" data-bs-toggle="modal" data-bs-target="#addFavorite"></i>
                      <i class="bi bi-heart-fill true" data-bs-toggle="modal" data-bs-target="#deleteFavorite"></i>
                    </button>
                    </div>
                </div>
              </div>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-8">
              <div class="card bg-transparent h-100 productCard border-0 hoverUp">
                <div class="card-img-container rounded-top-circle overflow-hidden border-neutral04 border border-bottom-0 border-2">
                  <img src="/assets/images/可可棉花糖2.jpg" class="card-img-top" alt="可可棉花糖">
                </div>
                <div class="card-body bg-white rounded-bottom h-100 position-relative border-neutral04 border border-top-0 border-2">
                  <button class="btn btn-primary addShoppingCart align-items-center justify-content-center hoverUp" data-bs-toggle="modal" data-bs-target="#addCartSuccess">
                    <span class="material-symbols-outlined me-1">add_shopping_cart</span>
                    加入購物車
                  </button>
                  <div class="d-flex flex-column justify-content-between mb-4 px-4 h-100">
                    <div>
                     <a href="cocoaIntro.html" class="stretched-link text-dark"><h4 class="fw-bold mb-2">可可棉花糖軟餅乾</h4></a>
                     <p class="fs-6">可可遇上牽絲棉花糖迸出新滋味</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                     <h4 class="text-primary fw-bold">NT$ 60</h4>
                     <button class="favorite rounded-circle border-0 text-white d-flex justify-content-center align-items-center" data-bs-toggle="button" aria-pressed="true">
                      <i class="bi bi-heart false" data-bs-toggle="modal" data-bs-target="#addFavorite"></i>
                      <i class="bi bi-heart-fill true" data-bs-toggle="modal" data-bs-target="#deleteFavorite"></i>
                    </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-8">
              <div class="card bg-transparent border-0 h-100 productCard hoverUp" >
                <div class="card-img-container  rounded-top-circle overflow-hidden border-neutral04 border border-bottom-0 border-2">
                  <img src="/assets/images/可可MiniCookies.jpg" class="card-img-top" alt="可可 Mini Cookies 10入">
                </div>
                <div class="card-body bg-white rounded-bottom position-relative border-neutral04 border border-top-0 border-2">
                  <button class="btn btn-primary addShoppingCart align-items-center justify-content-center hoverUp" data-bs-toggle="modal" data-bs-target="#addCartSuccess">
                    <span class="material-symbols-outlined me-1">add_shopping_cart</span>
                    加入購物車
                  </button>
                  <div class="d-flex flex-column justify-content-between mb-4 px-4 h-100">
                    <div>
                      <a href="cocoaIntro.html" class="stretched-link text-dark"><h4 class="fw-bold mb-2">可可Mini 10入組</h4></a>
                      <p class="fs-6">一口滿滿的可可</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                     <h4 class="text-primary fw-bold">NT$ 230</h4>
                     <button class="favorite rounded-circle border-0 text-white d-flex justify-content-center align-items-center active" data-bs-toggle="button" aria-pressed="true">
                      <i class="bi bi-heart false" data-bs-toggle="modal" data-bs-target="#addFavorite"></i>
                      <i class="bi bi-heart-fill true" data-bs-toggle="modal" data-bs-target="#deleteFavorite"></i>
                    </button>
                    </div>
                </div>
              </div>
            </div>
            </div>
          </div>
      </div>
    </div>
    <div class="original bg-brand04" id="original">
      <div class="container py-lg-8 py-5">
          <div class="mb-4 mb-lg-6">
            <h2 class="text-center fw-black">經典原味</h2>
          </div>
          <div class="row cardBox justify-content-center">
            <div class="col-lg-3 col-md-4 col-8">
              <div class="card bg-transparent border-0 h-100 productCard hoverUp">
                <div class="card-img-container  rounded-top-circle overflow-hidden border-neutral04 border border-bottom-0 border-2">
                  <img src="/assets/images/原味.jpg" class="card-img-top" alt="經典原味">
                </div>
                <div class="card-body bg-white rounded-bottom position-relative border-neutral04 border border-top-0 border-2">
                  <button class="btn btn-primary addShoppingCart align-items-center justify-content-center hoverUp" data-bs-toggle="modal" data-bs-target="#addCartSuccess">
                    <span class="material-symbols-outlined me-1">add_shopping_cart</span>
                    加入購物車
                  </button>
                  <div class="d-flex flex-column justify-content-between mb-4 px-4 h-100">
                    <div>
                      <a href="cocoaIntro.html" class="stretched-link text-dark"><h4 class="fw-bold mb-2">經典原味軟餅乾</h4></a>
                      <p class="fs-6">軟餅乾，最經典的那種。</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                     <h4 class="text-primary fw-bold">NT$ 45</h4>
                     <button class="favorite rounded-circle border-0 text-white d-flex justify-content-center align-items-center active" data-bs-toggle="button" aria-pressed="true">
                      <i class="bi bi-heart false" data-bs-toggle="modal" data-bs-target="#addFavorite"></i>
                      <i class="bi bi-heart-fill true" data-bs-toggle="modal" data-bs-target="#deleteFavorite"></i>
                    </button>
                    </div>
                </div>
              </div>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-8">
              <div class="card bg-transparent h-100 productCard border-0 hoverUp">
                <div class="card-img-container rounded-top-circle overflow-hidden border-neutral04 border border-bottom-0 border-2">
                  <img src="/assets/images/原味棉花糖.jpg" class="card-img-top" alt="原味棉花糖">
                </div>
                <div class="card-body bg-white rounded-bottom h-100 position-relative border-neutral04 border border-top-0 border-2">
                  <button class="btn btn-primary addShoppingCart align-items-center justify-content-center hoverUp" data-bs-toggle="modal" data-bs-target="#addCartSuccess">
                    <span class="material-symbols-outlined me-1">add_shopping_cart</span>
                    加入購物車
                  </button>
                  <div class="d-flex flex-column justify-content-between mb-4 px-4 h-100">
                    <div>
                     <a href="cocoaIntro.html" class="stretched-link text-dark"><h4 class="fw-bold mb-2">原味棉花糖軟餅乾</h4></a>
                     <p class="fs-6">用棉花糖重新詮釋經典</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                     <h4 class="text-primary fw-bold">NT$ 60</h4>
                     <button class="favorite rounded-circle border-0 text-white d-flex justify-content-center align-items-center" data-bs-toggle="button" aria-pressed="true">
                      <i class="bi bi-heart false" data-bs-toggle="modal" data-bs-target="#addFavorite"></i>
                      <i class="bi bi-heart-fill true" data-bs-toggle="modal" data-bs-target="#deleteFavorite"></i>
                    </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-8">
              <div class="card bg-transparent border-0 h-100 productCard hoverUp" >
                <div class="card-img-container  rounded-top-circle overflow-hidden border-neutral04 border border-bottom-0 border-2">
                  <img src="/assets/images/原味MiniCookies.jpg" class="card-img-top" alt="原味 Mini Cookies 10入">
                </div>
                <div class="card-body bg-white rounded-bottom position-relative border-neutral04 border border-top-0 border-2">
                  <button class="btn btn-primary addShoppingCart align-items-center justify-content-center hoverUp" data-bs-toggle="modal" data-bs-target="#addCartSuccess">
                    <span class="material-symbols-outlined me-1">add_shopping_cart</span>
                    加入購物車
                  </button>
                  <div class="d-flex flex-column justify-content-between mb-4 px-4 h-100">
                    <div>
                      <a href="cocoaIntro.html" class="stretched-link text-dark"><h4 class="fw-bold mb-2">原味Mini 10入組</h4></a>
                      <p class="fs-6">一口接一口超刷嘴!!</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                     <h4 class="text-primary fw-bold">NT$ 230</h4>
                     <button class="favorite rounded-circle border-0 text-white d-flex justify-content-center align-items-center active" data-bs-toggle="button" aria-pressed="true">
                      <i class="bi bi-heart false" data-bs-toggle="modal" data-bs-target="#addFavorite"></i>
                      <i class="bi bi-heart-fill true" data-bs-toggle="modal" data-bs-target="#deleteFavorite"></i>
                    </button>
                    </div>
                </div>
              </div>
            </div>
            </div>
          </div>
      </div>
    </div>
    <div class="marshmallows" id="marshmallows">
      <div class="container py-lg-8 py-5">
          <div class="mb-4 mb-lg-6">
            <h2 class="text-center fw-black">棉花糖軟餅乾</h2>
          </div>
          <div class="row cardBox justify-content-center">
            <div class="col-lg-3 col-md-4 col-8">
              <div class="card bg-transparent h-100 productCard border-0 hoverUp">
                <div class="card-img-container rounded-top-circle overflow-hidden border-neutral04 border border-bottom-0 border-2">
                  <img src="/assets/images/可可棉花糖2.jpg" class="card-img-top" alt="可可棉花糖">
                </div>
                <div class="card-body bg-white rounded-bottom h-100 position-relative border-neutral04 border border-top-0 border-2">
                  <button class="btn btn-primary addShoppingCart align-items-center justify-content-center hoverUp" data-bs-toggle="modal" data-bs-target="#addCartSuccess">
                    <span class="material-symbols-outlined me-1">add_shopping_cart</span>
                    加入購物車
                  </button>
                  <div class="d-flex flex-column justify-content-between mb-4 px-4 h-100">
                    <div>
                     <a href="cocoaIntro.html" class="stretched-link text-dark"><h4 class="fw-bold mb-2">可可棉花糖軟餅乾</h4></a>
                     <p class="fs-6">可可遇上牽絲棉花糖迸出新滋味</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                     <h4 class="text-primary fw-bold">NT$ 60</h4>
                     <button class="favorite rounded-circle border-0 text-white d-flex justify-content-center align-items-center" data-bs-toggle="button" aria-pressed="true">
                      <i class="bi bi-heart false" data-bs-toggle="modal" data-bs-target="#addFavorite"></i>
                      <i class="bi bi-heart-fill true" data-bs-toggle="modal" data-bs-target="#deleteFavorite"></i>
                    </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-8">
              <div class="card bg-transparent h-100 productCard border-0 hoverUp">
                <div class="card-img-container rounded-top-circle overflow-hidden border-neutral04 border border-bottom-0 border-2">
                  <img src="/assets/images/原味棉花糖.jpg" class="card-img-top" alt="原味棉花糖">
                </div>
                <div class="card-body bg-white rounded-bottom h-100 position-relative border-neutral04 border border-top-0 border-2">
                  <button class="btn btn-primary addShoppingCart align-items-center justify-content-center hoverUp" data-bs-toggle="modal" data-bs-target="#addCartSuccess">
                    <span class="material-symbols-outlined me-1">add_shopping_cart</span>
                    加入購物車
                  </button>
                  <div class="d-flex flex-column justify-content-between mb-4 px-4 h-100">
                    <div>
                     <a href="cocoaIntro.html" class="stretched-link text-dark"><h4 class="fw-bold mb-2">原味棉花糖軟餅乾</h4></a>
                     <p class="fs-6">用棉花糖重新詮釋經典</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                     <h4 class="text-primary fw-bold">NT$ 60</h4>
                     <button class="favorite rounded-circle border-0 text-white d-flex justify-content-center align-items-center" data-bs-toggle="button" aria-pressed="true">
                      <i class="bi bi-heart false" data-bs-toggle="modal" data-bs-target="#addFavorite"></i>
                      <i class="bi bi-heart-fill true" data-bs-toggle="modal" data-bs-target="#deleteFavorite"></i>
                    </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="miniCookies bg-brand04" id="miniCookies">
      <div class="container py-lg-8 py-5">
          <div class="mb-4 mb-lg-6">
            <h2 class="text-center fw-black">Mini Cookies</h2>
          </div>
          <div class="row cardBox justify-content-center">
            <div class="col-lg-3 col-md-4 col-8">
              <div class="card bg-transparent border-0 h-100 productCard hoverUp" >
                <div class="card-img-container  rounded-top-circle overflow-hidden border-neutral04 border border-bottom-0 border-2">
                  <img src="/assets/images/原味MiniCookies.jpg" class="card-img-top" alt="原味 Mini Cookies 10入">
                </div>
                <div class="card-body bg-white rounded-bottom position-relative border-neutral04 border border-top-0 border-2">
                  <button class="btn btn-primary addShoppingCart align-items-center justify-content-center hoverUp" data-bs-toggle="modal" data-bs-target="#addCartSuccess">
                    <span class="material-symbols-outlined me-1">add_shopping_cart</span>
                    加入購物車
                  </button>
                  <div class="d-flex flex-column justify-content-between mb-4 px-4 h-100">
                    <div>
                      <a href="cocoaIntro.html" class="stretched-link text-dark"><h4 class="fw-bold mb-2">原味Mini 10入組</h4></a>
                      <p class="fs-6">一口接一口超刷嘴!!</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                     <h4 class="text-primary fw-bold">NT$ 230</h4>
                     <button class="favorite rounded-circle border-0 text-white d-flex justify-content-center align-items-center active" data-bs-toggle="button" aria-pressed="true">
                      <i class="bi bi-heart false" data-bs-toggle="modal" data-bs-target="#addFavorite"></i>
                      <i class="bi bi-heart-fill true" data-bs-toggle="modal" data-bs-target="#deleteFavorite"></i>
                    </button>
                    </div>
                </div>
              </div>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-8">
              <div class="card bg-transparent border-0 h-100 productCard hoverUp" >
                <div class="card-img-container  rounded-top-circle overflow-hidden border-neutral04 border border-bottom-0 border-2">
                  <img src="/assets/images/可可MiniCookies.jpg" class="card-img-top" alt="可可 Mini Cookies 10入">
                </div>
                <div class="card-body bg-white rounded-bottom position-relative border-neutral04 border border-top-0 border-2">
                  <button class="btn btn-primary addShoppingCart align-items-center justify-content-center hoverUp" data-bs-toggle="modal" data-bs-target="#addCartSuccess">
                    <span class="material-symbols-outlined me-1">add_shopping_cart</span>
                    加入購物車
                  </button>
                  <div class="d-flex flex-column justify-content-between mb-4 px-4 h-100">
                    <div>
                      <a href="cocoaIntro.html" class="stretched-link text-dark"><h4 class="fw-bold mb-2">可可Mini 10入組</h4></a>
                      <p class="fs-6">一口滿滿的可可</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                     <h4 class="text-primary fw-bold">NT$ 230</h4>
                     <button class="favorite rounded-circle border-0 text-white d-flex justify-content-center align-items-center active" data-bs-toggle="button" aria-pressed="true">
                      <i class="bi bi-heart false" data-bs-toggle="modal" data-bs-target="#addFavorite"></i>
                      <i class="bi bi-heart-fill true" data-bs-toggle="modal" data-bs-target="#deleteFavorite"></i>
                    </button>
                    </div>
                </div>
              </div>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-8">
              <div class="card bg-transparent border-0 h-100 productCard hoverUp" >
                <div class="card-img-container  rounded-top-circle overflow-hidden border-neutral04 border border-bottom-0 border-2">
                  <img src="/assets/images/mini綜合.jpg" class="card-img-top" alt="綜合mini">
                </div>
                <div class="card-body bg-white rounded-bottom position-relative border-neutral04 border border-top-0 border-2">
                  <button class="btn btn-primary addShoppingCart align-items-center justify-content-center hoverUp" data-bs-toggle="modal" data-bs-target="#addCartSuccess">
                    <span class="material-symbols-outlined me-1">add_shopping_cart</span>
                    加入購物車
                  </button>
                  <div class="d-flex flex-column justify-content-between mb-4 px-4 h-100">
                    <div>
                      <a href="cocoaIntro.html" class="stretched-link text-dark"><h4 class="fw-bold mb-2">綜合Mini 10入</h4></a>
                     <p class="fs-6">親愛的,我把軟餅乾變小了!</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                     <h4 class="text-primary fw-bold">NT$ 230</h4>
                     <button class="favorite rounded-circle border-0 text-white d-flex justify-content-center align-items-center" data-bs-toggle="button" aria-pressed="true">
                      <i class="bi bi-heart false" data-bs-toggle="modal" data-bs-target="#addFavorite"></i>
                      <i class="bi bi-heart-fill true" data-bs-toggle="modal" data-bs-target="#deleteFavorite"></i>
                    </button>
                    </div>
                </div>
              </div>
            </div>
            </div>
          </div>
      </div>
    </div>
    <div class="pack" id="pack">
      <div class="container py-lg-8 py-5">
          <div class="mb-4 mb-lg-6">
            <h2 class="text-center fw-black">餅乾組合</h2>
          </div>
          <div class="row cardBox justify-content-center">
            <div class="col-lg-3 col-md-4 col-8">
              <div class="card bg-transparent h-100 productCard border-0 hoverUp">
                <div class="card-img-container rounded-top-circle overflow-hidden border-neutral04 border border-bottom-0 border-2">
                  <img src="/assets/images/綜合五入.jpg" class="card-img-top" alt="綜合侮辱">
                </div>
                <div class="card-body bg-white rounded-bottom h-100 position-relative border-neutral04 border border-top-0 border-2">
                  <button class="btn btn-primary addShoppingCart align-items-center justify-content-center hoverUp" data-bs-toggle="modal" data-bs-target="#addCartSuccess">
                    <span class="material-symbols-outlined me-1">add_shopping_cart</span>
                    加入購物車
                  </button>
                  <div class="d-flex flex-column justify-content-between mb-4 px-4 h-100">
                    <div>
                     <a href="cocoaIntro.html" class="stretched-link text-dark"><h4 class="fw-bold mb-2">綜合軟餅乾 5入</h4></a>
                     <p class="fs-6">只要一包，什麼都吃得到</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                     <h4 class="text-primary fw-bold">NT$ 250</h4>
                     <button class="favorite rounded-circle border-0 text-white d-flex justify-content-center align-items-center" data-bs-toggle="button" aria-pressed="true">
                      <i class="bi bi-heart false" data-bs-toggle="modal" data-bs-target="#addFavorite"></i>
                      <i class="bi bi-heart-fill true" data-bs-toggle="modal" data-bs-target="#deleteFavorite"></i>
                    </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-8">
              <div class="card bg-transparent border-0 h-100 productCard hoverUp" >
                <div class="card-img-container  rounded-top-circle overflow-hidden border-neutral04 border border-bottom-0 border-2">
                  <img src="/assets/images/花禮.jpg" class="card-img-top" alt="Mini Cookies 花禮">
                </div>
                <div class="card-body bg-white rounded-bottom position-relative border-neutral04 border border-top-0 border-2">
                  <button class="btn btn-primary addShoppingCart align-items-center justify-content-center hoverUp" data-bs-toggle="modal" data-bs-target="#addCartSuccess">
                    <span class="material-symbols-outlined me-1">add_shopping_cart</span>
                    加入購物車
                  </button>
                  <div class="d-flex flex-column justify-content-between mb-4 px-4 h-100">
                    <div>
                      <a href="cocoaIntro.html" class="stretched-link text-dark"><h4 class="fw-bold mb-2">Mini Cookies 花禮</h4></a>
                      <p class="fs-6">一個組合勝過千言萬語</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                     <h4 class="text-primary fw-bold">NT$ 520</h4>
                     <button class="favorite rounded-circle border-0 text-white d-flex justify-content-center align-items-center active" data-bs-toggle="button" aria-pressed="true">
                      <i class="bi bi-heart false" data-bs-toggle="modal" data-bs-target="#addFavorite"></i>
                      <i class="bi bi-heart-fill true" data-bs-toggle="modal" data-bs-target="#deleteFavorite"></i>
                    </button>
                    </div>
                </div>
              </div>
            </div>
            </div>
          </div>
      </div>
    </div>
    <!-- modal -->
    <div class="modal fade" id="addFavorite" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">加入收藏</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            收藏成功
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">繼續瀏覽</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="deleteFavorite" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">移除收藏</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            此商品已在您的收藏清單，是否移除？
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelRemove">取消</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">我要移除</button>
          </div>
        </div>
      </div>
    </div>
    <!-- cart modal -->
    <div class="modal fade" id="addCartSuccess" tabindex="-1" aria-labelledby="addCartSuccess" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="addCartSuccess">加入購物車</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            加入成功
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">返回</button>
            <a class="btn btn-primary" href="shoppingCart.html">前往購物車</a>
          </div>
        </div>
      </div>
    </div>
   

    <%- include("./layout/footer") -%>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <!-- <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.js"></script> -->
  </body>
</html>
