<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>其時手工甜點-購物車</title>
    <link rel="icon" href="/assets/images/logo.jpg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>
  <body>
    <%- include("./layout/header") -%>
<div class="pb-10" style="padding-top: 162px;">
  <div class="container">
    <!-- breadcrumb -->
    <%- include("./layout/breadcrumb") -%>
      <!--content -->

      <h2 class="text-center">訂購成功</h2>
      <p class="text-center">如需查看訂單進度，請至<a href="#" class="fw-bold">我的訂單</a>查看</p>

      <div class="d-flex justify-content-center gap-3">
        <a class="btn btn-secondary" href="product.html">再去逛逛</a>
        <a class="btn btn-primary" href="#">我的訂單</a>
      </div>

  </div>
</div>

<div class="bg-brand04">
  <div class="container py-lg-8 py-5">
    <div class="mb-4 mb-lg-6">
      <h2 class="text-center fw-black">忘記了什麼嗎？還來得及！</h2>
    </div>
    <div class="row cardBox">
          <div class="col-lg-3 col-6">
            <%- include('./layout/productOriginal')-%>
          </div>
          <div class="col-lg-3 col-6">
            <%- include('./layout/productCocoa')-%>
          </div>
          <div class="col-lg-3 col-6">
            <%- include('./layout/productTea')-%>
          </div>
          <div class="col-lg-3 col-6 ">
            <%- include('./layout/productMinimix')-%>
          </div>
  
          <!-- modal -->
          <%- include('./layout/modal')-%>
    </div>
    <div class="d-flex justify-content-center mt-9">
      <a href="product.html" class="btn btn-primary d-flex justify-content-center align-items-center hoverUp">查看更多<span class="material-symbols-outlined">arrow_forward</span></a>
    </div>
  </div>
</div>

    
    

    <%- include("./layout/footer") -%>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.js"></script> -->
  </body>
</html>
